@import '../../../../_vars';

:host {
  background-color: var(--page-header-bg);
  padding: 13px 30px;

  h4.og-text {
    text-align: left;
    font-family: Montserrat, 'Arial';
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    color: var(--text-color);
    opacity: 1;
  }

  .topics-and-policy {
    display: flex;
  }

  .topic, .policy {
    margin: 4px;
    height: 38px;
    background: var(--dark-gray);
    border-radius: 4px;
    color: white;
    line-height: 38px;
    align-items: center;
    display: flex;
    white-space: nowrap;


    .name {
      font-family: Regular, 'Open Sans', 'Arial';
      font-size: 14px;
      flex: 1 1 auto;
    }

    .indicator {
      width: 3px;
      height: 100%;
      border-bottom-left-radius: 4px;
      border-top-left-radius: 4px;
    }

    .icon {
      font-size: 18px;
      width: 27px;
      margin: 0 5px;
    }


    .risk {
      height: 30px;
      width: 30px;
      border-radius: 15px;
      color: white;
      font-size: 16px;
      background-color: black;
      font-weight: bold;
      font-family: Montserrat, 'Arial';
      line-height: 30px;
      text-align: center;
      margin: 0 7px;
    }
  }

  .policy {
    .name {
      margin-right: 7px;
    }
  }

  .predictions {

    .prediction {
      display: flex;
      align-items: center;
    }

    .label {
      width: 80px;
    }

    .spacer {
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--chip-bg);

      .spacer-fill {
        background-color: var(--primary-highlight);
        height: 100%;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
  }

}
