<div class="sidebar-container" *ngIf="(diagnoseService.classifyValue$ | async) as classifyValue">
  <h4 class="og-text">{{classifyValue.text}}</h4>
  <hr/>
  <div class="topics-and-policy">
    <div class="topics">
      <h5>Topics</h5>
      <div class="topic" *ngFor="let topic of classifyValue.topics | keyvalue">
        <!--        todo maybe make a separate component with a risk indicator-->
        <div class="indicator" [ngClass]="'risk-' + topic.value"></div>
        <i class="fas icon"
           [ngClass]="'fa-' + (topicList[topic.key].icon | replaceRisk: topic.value)"></i>
        <div class="name">{{topicList[topic.key]?.name}}</div>
        <div class="risk">
          {{topic.value}}
        </div>
      </div>
    </div>

    <div class="policies">
      <h5>Policy Guides</h5>
      <div class="global-chat policy">
        <div class="indicator" [ngClass]="policyChecks?.passesPrivateChat ? 'test-pass' : 'test-fail'"></div>
        <i class="icon fas" [ngClass]="policyChecks?.passesPrivateChat ? 'fa-thumbs-up' : 'fa-thumbs-down'"></i>
        <div class="name">
          Global Chat
        </div>
      </div>
      <div class="global-chat policy">
        <div class="indicator" [ngClass]="policyChecks?.passesGlobalChat ? 'test-pass' : 'test-fail'"></div>
        <i class="icon fas" [ngClass]="policyChecks?.passesGlobalChat ? 'fa-thumbs-up' : 'fa-thumbs-down'"></i>
        <div class="name">Private Chat</div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="predictions">
    <h5>AI Predictions</h5>
    <div class="prediction" *ngFor="let prediction of classifyValue?.predictions | keyvalue">
      <div class="label">
        {{prediction.key | stripPrefix}}
      </div>
      <div class="spacer">
        <div [ngStyle]="{'width': (prediction.value | roundPrediction) + '%'}" class="spacer-fill"></div>
      </div>
    </div>
  </div>
  <hr/>
  <div class="actions">
    <button class="button">Escalate</button>
    <button class="button active">Gerkin Test</button>
    <button class="button primary">Create Rule</button>
  </div>
</div>
