<form (ngSubmit)="onSubmit()">
  <label for="main-search" hidden>Search</label>
  <input [formControl]="searchControl"
         id="main-search"
         type="search"
         placeholder="Search for keywords, phrases, etc."
         i18n-placeholder
  >
</form>
