<ng-container *ngFor="let token of slot | slotToTokens">
  <div class="token-container">
    <ng-container *ngFor="let risk of token.topics | keyvalue">
      <span [ngClass]="'risk-' + risk.value" class="risk">{{risk.value}}</span>
    </ng-container>

    <span class="token-text">
      {{token.text}}
    </span>
  </div>
</ng-container>
