@import '../../../_vars';

:host {
  position: absolute;
  left: 0;
  padding: 7px 0;

  .token-container {
    color: white;
    height: 30px;
    line-height: 30px;
    padding: 0 7px;
    background-color: var(--section-bg);
    white-space: nowrap;
    width: auto;

    &:first-child {
      background-color: var(--section-bg);
    }

    .risk {
      font-size: 12px;
      height: 16px;
      padding-left: 8px;
      color: black;
      width: 20px;
      line-height: 16px;
      display: inline-block;
      border-bottom-left-radius: 10px;
      border-top-left-radius: 10px;
      margin-right: 5px;

    }

    .token-text {
      font-size: 16px;
    }
  }


}
