<section id="generic-view">

  <header>

    <h1>Generic View</h1>

    <nav class="breadcrumb">
      <xng-breadcrumb></xng-breadcrumb>
    </nav>

  </header>

  <router-outlet></router-outlet>
</section>
