.diagnose-content-wrapper {
  display: flex;
  justify-content: space-between;

  .diagnose-container {
    display: flex;

    .diagnose-item-group {
      margin: 0.25rem;
    }
  }

  diagnose-sidebar {
    flex-basis: 400px;
  }

}

