<div class="diagnose-header">
  <diagnose-refresh></diagnose-refresh>
  <language-picker></language-picker>
  <server-picker></server-picker>
  <content-type-picker></content-type-picker>
</div>


<div class="diagnose-content-wrapper" *ngIf="(diagnoseService.classifyValue$ | async) as classifyData">
  <div class="diagnose-container">
    <div *ngFor="let slot of classifyData.extended | mergeExtended " class="diagnose-item-group">
      <original-slot>
        {{slot.original}}
      </original-slot>

      <solution-slot [slot]="slot">
        {{slot.solution}}
      </solution-slot>
    </div>
  </div>

  <diagnose-sidebar></diagnose-sidebar>

</div>
