
<select name="language"
        [(ngModel)]="selectedLanguage"
        (change)="onLanguageChanged($event)"
>
  <option *ngFor="let language of languages"
          [ngValue]="language">{{ language.name }}</option>
</select>
