<select name="server"
        [value]="appService.contentType.name"
        (change)="onTypeChanged($event)"
>
  <option *ngFor="let type of appService.contentTypeList"
          [ngValue]="type">{{ type.name }}</option>
</select>

