@import '../../../_vars';

:host {
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  padding: 0 10px;
  background-color: var(--button-bg);
  height: 35px;
  width: 35px;
  line-height: 35px;
}
