<header class="main">

  <main-logo></main-logo>

  <main-search></main-search>

  <client-picker [selectedClient]="userService.preferences.lastClientId"
                 (clientChanged)="onUserChangedClient($event)"
  ></client-picker>

  <language-picker

  ></language-picker>

  <a11y-flyout></a11y-flyout>

  <user-flyout></user-flyout>

</header>
