<select name="server"
        [value]="appService.clientConfig.name"
        (change)="onServerChanged($event)"
>
  <option *ngFor="let config of appService.configList"
          [ngValue]="config">{{ config.name }}</option>
</select>
