@import "../../../_vars";

.slot {
  margin: 4px;
  display: block;
  height: 48px;
  padding: 0 11px;
  line-height: 48px;
  font-size: 20px;

  font-family: Bold 20px/24px Montserrat;
  color: var(--text-color);
  background-color: var(--og-slot-bg);
}
